
<div class="images">
    @for (int i = 0; i < 4; i++)
    {
        for (int j = 0; j < 4; j++)
        {
            <img src="../images/sharp.png" style: width="40" height="30" />

        }
        <p></p>
    }
</div>
